body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainDiv{
  display: flex;
}

.active{
  border-bottom: 4px solid orange;
}
body{
  background-color: rgb(175, 189, 211);
  background-image: url("https://wallpapers.com/images/featured/desktop-lsjkr6wg7ctq97qv.jpg");
}
form{
  width: 400px;
  height: 400px;
  background: transparent;
backdrop-filter: blur(5px);
}